* {
  box-sizing: border-box;
}
body {
  padding: 10px;
  animation: emersion 0.5s;
}
a:hover {
  text-decoration: none;
}
.headerTitle {
  margin: 15px 0 30px;
  color: #d9534f;
}
.searchInput {
  display: block;
  width: 100%;
  height: 34px;
  border-radius: 5px;
}
.searchTitle {
  color: #777;
  margin-bottom: 15x;
  font-weight: bold;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.searchResults p {
  font-style: italic;
  margin: 0;
  padding-bottom:10px;
  font-size: 12px;
}
.searchResults h5 {
  font-weight: bold;
}
.searchResults li {
  padding: 10px 10px;
  width: 270px;
  text-align: center;
  animation: emersion 1s;
}
.warning {
  font-weight: bolder;
  font-size: 16px;
  margin-top: 15px;
  font-style: italic;
  color: #d9534f;
  text-align: center;
}
.searchInfo {
  font-weight: bold;
  margin: 0 5px;
}
.searchInfo span {
  color: #d9534f;
}
.sortContainer {
  display: flex;
  justify-content: space-between;
}
.sortContainer p {
  font-weight: bold;
}
.sort {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 30px;
  margin-right: 15px;
}
.radioButtons input {
  margin: 0 2px;
}  
.radioButtons {
  margin: 10px 0;
}
.radioButtons label {
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}
.sort button {
  height: 30px;
  padding: 0 10px;
  border-radius: 0;
}
.sort button:hover {
  border: 1px solid #d9534f;
}
.moviesCount {
  color: #d9534f;
  font-size: 16px;
}
.noFilms {
  text-align: center;
  color: #555;
  font-weight: light;
  font-size: 16px;
}

@keyframes emersion {
  from {opacity: 0}
  to {opacity: 1}
}
